body{
    background-image:
            url("スクリーンショット 2017-11-20 11.17.04.png");
}

#wrap{
    border-radius: 100%;padding:3%;
    background-color:#fed7af;
    width:500px;height: 500px;
    margin:0 auto;
}

h1{
    margin:5%;
    font-family: "ヒラギノ丸ゴ Pro W4", fantasy;}

.result{
    /*display:none;*/

}
#input{
    font-size: 2em;
    width:50%;
    margin:3%;

}

#wrap2d{

}

#startb{
   font-size: 2em;
    background-color:#fe8a21;
    border-radius: 100%;
    font-family:
            'Hiragino Maru Gothic Pro',
            'ヒラギノ丸ゴ Pro W4',
            sans-serif;
    color:#fff;
    padding:10%;
    width:300px;
    height:150px;

}

#t_nenrei {
    font-family: 'Hiragino Maru Gothic Pro',
    'ヒラギノ丸ゴ Pro W4',
    sans-serif;
    color: #ff8329;
    font-size: 2em;
    background-color:#fff;
    border-radius: 90%;
    padding:30px;

}
#resultbox{
    margin:0 auto;
    background-color: #fff6ea;
    width:500px;
    height:700px;

}
#bigbigbox{
   display:  flex;
}
.bigbox{
    margin:5%;
}
#box{
    flex: 1;
  display:flex;
}
.boxflex{
    flex: 1;
}
.content{
    width:40%;
    /*padding:3%;*/
    border-top: solid #000;
    border-bottom: solid #4f6aa7 ;
}
#c1{
    background-color: #ffc1c0;


}
#c2{
    background-color: rgba(195, 234, 242, 0.8);

    animation-name: anime1;
    animation-duration: 5s;
    /*animation-timing-function: ease;*/

    /*animation-iteration-count: 1;*/
}

@keyframes anime1 {
    0% {width: 50px; height: 50px; background-color: aqua;}
    100% {width: 50px; height: 200px; background-color: blue;}
}
#boxi{
    flex:1;
}